<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1><%= movie.title %> </h1>
	  <img src="/images/movies/<%= movie.image %> " alt="">
	  <p>rating: <%= movie.rating %>  </p>
	  <p>length: <%= movie.length %> </p>
	  <p>awards: <%= movie.awards %> </p>
	  <p>genero: <%= movie.genero.name %> </p>
	  <p>fecha de estreno: <%= movie.release_date %> </p>
	  <p>Actores:</p>
	  <ul>
	  <% for(let i = 0; i < movie.actores.length; i++){ %>
		<li><%= movie.actores[i].first_name%> <%= movie.actores[i].last_name %> </li>
	  <% } %>
	 </ul> 
	  <form action="/movies/delete/<%= movie.id %>" method="POST">
		<button>Eliminar Pelicula</button>
          </form>
	  <button><a href="/movies/edit/<%= movie.id %> ">Editar</a></button>
  </body>
</html>